* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: helvetica 2rem;
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

.v-header {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 960px;
  padding: 0rem 1rem;
  text-align: center;
}

.fullscreen-video-wrap {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.fullscreen-video-wrap {
  min-width, min-height: 100%;
}

 .header-overlay {
  background: #0D691F;
  height: 100vh;
  left: 0;
  opacity: 0.30;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 1;
 }

 .header-content {
  z-index: 2;
 }

 .header-content h1{
  font-size: 50px;
  margin-bottom: 2;
}

.header-content p {
  display: block;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.btn {
  background: #209;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section {
  font-size: 10px;
  padding: 20px 0;
}

.section-b{
  background: #456;
  color: #fff;
  padding: 1rem;
}

@media(max-width: 960px) {
  .container {
    padding: 0rem 3rem;
  }
}